
.dialogsq_block .personaje{
    width: 130px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}

.dialogsq_block .Izquierda ,
.dialogsq_block .Derecha{
    position: relative;
    width:800px;
    color:#000;
    min-height: 115px;
    padding:20px 0;
    margin: auto;
    box-sizing: border-box; 
    overflow: hidden;
}

.dialogsq_block .Izquierda .personaje{
    left: 10px;
    position: absolute;
    top:0;
    z-index:5;
}

.dialogsq_block .Derecha .personaje{
    right: 10px;
    position: absolute;
    top:0;
    z-index:5;
}

.dialogsq_block .dialogo p {
    margin-bottom: 0 !important;
}

.dialogsq_block .Izquierda .dialogo{
    left: 180px; 
    display:table; 
    max-width: 505px;
}

.dialogsq_block .Derecha .dialogo{
    right: 180px;
    float: right;
    text-align: right; 
    display:table;
    max-width: 505px;
}

.dialogsq_block .Izquierda .dialogo,
.dialogsq_block .Derecha .dialogo
{
    position: relative;
    min-width: 200px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 15px;
    min-height: 78px;
	display: table-cell; vertical-align: middle;
	 width: -webkit-max-content;
	 width: -moz-max-content;
	 width: max-content; 
}
.dialogsq_block .Izquierda .cola{
    left: 133px;
    background-image: url(https://static.cmm.uchile.cl/global2/cola_izq.png);
}

.dialogsq_block .Derecha .cola{
    right: 133px;
    background-image: url(https://static.cmm.uchile.cl/global2/cola_der.png);
}

.dialogsq_block .Izquierda .cola,
.dialogsq_block .Derecha .cola{
    position: absolute;
    box-sizing: border-box;
    top:35px;
    width: 47px;
    height: 28px;
    z-index: 4;
}

.dialogsq_block .Izquierda .responder{
    position: relative;
    padding: 0 0 10px 0;
    top: 10px;
    margin-left: 180px;
}

.dialogsq_block .Derecha .responder{
    position: relative;
    float:right;
    padding: 0 0 10px 0;
    top: 10px;
    margin-right: 140px;
}

.dialogsq_block .submit {
    height: 40px;
    vertical-align: middle;
    border-color: #0075b4;
    background: #0075b4;
    color: #fcfcfc;
    text-shadow: none;
    box-shadow: none;
    border-width: 1px;
    border-radius: 0.1875rem;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-weight: normal;
    text-shadow: none;
    text-transform: capitalize;
    cursor: pointer;
  }
  
.dialogsq_block .submit:hover {
    background: #065683;
    box-shadow: none;
    border-width: 1px;
 }

 .dialogsq_block .submit:focus {
    background: #065683;
    box-shadow: none;
    border-width: 1px;
 }

.dialogsq_block .submit[disabled=disabled], .vof_block .action .check:disabled {
    border-color: #d2d0d0;
    background: #f2f3f3!important;
    color: #676666;
    cursor:auto;
    border-style: solid;
}

.dialogsq_block .submission-feedback{
    padding: 10px;
    color: #5e5e5e;
    font-size: 0.9em;
}

.dialogsq_block .notificacion{
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}

.dialogsq_block .notificacion img{
    vertical-align: middle;
}

.dialogsq_block .inputdialogo{
    width:42px;
    min-width: 42px;
    max-width: 400px;
    height: 24px;
    padding-left: 3px;
    padding-right: 1px;
    margin-bottom: 2px;
}

.dialogsq_block .button_show_answers{
    cursor: pointer;
    color: #0066a2;
    font-weight: 400;
    border: none;
    background-color: transparent!important;
    background-image: none!important;
    box-shadow: none!important;
}

.dialogsq_block .button_show_answers:hover{
    border: 1px solid;
    border-color: #0075b4;
    border-radius: 3px;
    background-image: none;
    background-color: transparent;
    font-weight: 400;
}

.dialogsq_block .the_answer{
    position: relative;
    padding: 0px 20px 10px 20px;
    color: #5e5e5e;
}

.dialogsq_block .notificacion .fa-info-circle {
    margin-right: 5px;
    color: #0075b4;
}

.dialogsq_block .responder{
    width: 800px;
    margin: auto;

}

.dialogsq_block .Derechabox .responder{
    float:right;
}

.dialogsq_block .the_answer{
    width: 800px;
    margin: auto;

}

.dialogsq_block .Derechabox .the_answer{
    float: right;
}

/* CSS for Media theme */

.dialogsq_block.Media .Izquierda .cola,
.dialogsq_block.Media .Derecha .cola{
    display:none;
}

.dialogsq_block.Media .personaje{
    background-size: 95px;
    top:5px;
}

.dialogsq_block.Media .Izquierda .dialogo {
    left: 140px;
    max-width: 630px!important;
    width: 630px;
}

.dialogsq_block.Media .Derecha .dialogo {
    right: 140px;
    max-width: 630px!important;
    width: 630px;
}

/* CSS for RedFid theme */

.dialogsq_block.RedFid .Izquierda .cola{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cola_izq_border.png);
    top: 45px;
    width: 44px;
    height: 32px;
    left: 140px;
}

.dialogsq_block.RedFid .Derecha .cola{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cola_der_border.png);
    top: 45px;
    width: 44px;
    height: 32px;
    left: 616px;
}

.eoldialogs_block.RedFid .personaje{
    background-position-x: center;
    background-position-y: top;
}

.eoldialogs_block.RedFid .nombrePerso{
    text-align: center;
    position: relative;
    top: 112px;
    text-transform: uppercase;
    color: #707070;
    font-size: 14px;
    font-weight: bold;

}

.dialogsq_block.RedFid .Izquierda .dialogo {

    border:  4px solid;
    background-color: #FFF0 !important;

    
}

.dialogsq_block.RedFid .Derecha .dialogo {

    border:  4px solid;
    background-color: #FFF0 !important; 
}